{%extends "index.html"%}
{%block content%}
<h1>Register</h1>
<form action="" method="POST">
    {%csrf_token%}
    {%if form.errors %}
    <div class="alert alert-warning alert dismissible fade show " role="alert">
     Your form has Errors 
     {% for field in form %}
     {% if field.errors%}
     {{field.errors}}
     {%endif%}
     {%endfor%}
     
     {%endif%}
    {{form.as_p}}
    <input type="submit" name="Submit" value="Register" class="btn btn-primary btn-sm"> <br><br>

</form>
{%endblock%}